.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  margin: 40px auto;
  padding: 10px;
  max-width: 500px;
 
}
.form-container.active{
  display: none;
}
.form-heading{
    display: flex;
    align-items: center;
    text-align: center; 
    padding: 0%; 
    font-size:30px;
}
.user-profile{
    height: 60px;
    border:2px solid #cc0052;
    border-radius: 40px;
    margin-right: 5px;
    margin-top: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.item-holder {
  display: flex;
  gap: 15px;
  
}
.form-item{
    background-color: #fff7fb;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.form-item:focus{
  outline: none;
}

.btn{
  background: #cc0052;
  color:white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;
}

.profile-heading{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content:left ;
  align-items: center;
  text-align: center; 
  padding: 0%; 
  font-size:30px;
}

.password-container{
  display: flex;
  align-items: center;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 5px;
}
#password{
  border: none;
  width: 85%;
}
.eye-img{
    cursor:  pointer;
  height: 25px;
}
.btn1{
  font-size: 16px;
  background-color:#cc0052;
  color: white;
  border: none;
  border-radius: 5px; ;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 10px;
}
.toggle-btn{
 border: none;
  background: white;
  color: #c93779;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
#info{
  margin-top: -12px; 
  font-size: 14px; 
  text-align: center;
}
.footer {
  background: #ffe6f2;
  padding: 30px 50px 10px;
  color: #c93779;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-left p {
  font-size: 14px;
  color: #a83a6a;
}

.footer-center a {
  margin: 0 12px;
  text-decoration: none;
  color: #c93779;
  font-weight: 500;
}

.footer-center a:hover {
  color: #ea1068;
}

.footer-right {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer-right .heart {
  margin-right: 6px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #a83a6a;
  border-top: 1px solid #f2b6d8;
  padding-top: 10px;
}
.navbar{
  flex-wrap: wrap;
}
.hamburger{
  display: none;
  height: 30px;
  cursor: pointer;
}
.toggle-menu-container{
  display: none;
  flex-direction: column;
  position: fixed;
  background-color:#ffbfec ;
  width: 100%;
  padding: 40px 30px 10px 30px;
}
.toggle-menu{
  border: 2px solid #d85590;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 30px;
}
.toggle-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #d85590;
  transition: 0.3s ease;
}
#login-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #c93779;
  cursor: pointer;
}
body.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .navbar {
  background-color: #121212;
}

body.dark .nav-name,
body.dark .menu a,
body.dark .nav-clock {
  color: #ff9fcf;
}
body.dark .toggle-btn{
  background-color: #000;
  color: #fff;
}
body.dark .btn-delete{
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 4px #fff;
}
body.dark .footer{
  background-color: #121212;
}
body.dark .form-container{
  background-color: #262626;
}
body.dark .btn{
  color: #000;
}
body.dark .password-container{
  background-color: #333;
}
body.dark .form-item{
  background-color: #333;
  color: #fff;
}
body.dark #link{
  color: #fff;
}
body.dark .btn{
  background-color: #000;
  color:#fff;
}
@media (max-width: 768px) {
  .menu a{
    display: none;
  }
  .hamburger{
    display: block;
    position: fixed;
    top: 30px;
    right: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  .navbar{
     padding: 14px 50px 14px 7px;
  }
  .toggle-menu-container.active{
  display: flex;
}
.footer-content {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .footer-center a {
    display: inline-block;
    margin: 6px;
  }
}